body {
    overflow-x: hidden;
    background-color: #777;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#contentMain {
    padding-bottom: 3rem!important;
}

#contentMain div.selection-box {
    padding: 10px;
}
#contentMain div.selection-box hr {
    text-align: center;
    margin: 15px auto;
    width: 100px;
}
#contentMain div.selection-box .selection-inner {
    padding: 20px;
    border-radius: 10px;
    background: #FFF;
    min-height: 255px;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 30%);
}
#contentMain div.selection-box .selection-inputs {
    min-height: 120px;
    
}

#contentMain div.selection-box {
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

div#contentHeader {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
    background-color: #777;
    color: #FFF;
}

div#contentFooter {
    padding-top: 1rem!important;
    padding-bottom: 1.5rem!important;
    margin-left: 0;
    margin-right: 0;
    background-color: #777;
    color: #FFF;
}

body div.zooApp-main {
    background-color: #FFF;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

body div.zooApp-extend {
    background-color: #FFF;
    padding-top: 1rem!important;
    padding-bottom: 6rem!important;
}

div#contentFooter h5,
div#contentFooter .homepage-return {
    margin-top: 0.5rem!important;
    margin-bottom: 1rem!important;
}

div#contentFooter h5 {
    padding-top: 8px;
    padding-bottom: 8px;
}

div#contentHeader hr, div#contentFooter hr {
    color: #FFF;
    background: #FFF;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

div#contentHeader a, div#contentFooter a {
    color: #FFF;
}

div#contentFooter #footerNavbar {
    max-width: 100%;
}

div#contentFooter #footerNavbar li.footer-item a {
    margin-left: 5px;
    margin-right: 5px;
    height: 40px!important;
}

#empContent hr {
    text-align: center;
    margin: 15px auto;
    width: 200px;
}

#empSidebar ul {
    max-width: 220px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}

#empSidebar ul li a {
    color: black;
}

#empSidebar ul li a:hover {
    background-color: #E9E9E9;
}

#empSidebar ul li a.active {
    color: white;
    background-color: #999;
}

#animalDescription-container {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#animalDescription-container .card {
    max-width: 95%;
}

#animalDescription-container .card .container h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#visitorContent {
    min-height: 400px;
}

#zooList {
    margin-bottom: 40px;
}

body hr {
    background: grey;
}

hr.hr-tiny {
    width: 100px;
}

hr.hr-small {
    width: 150px;
}

hr.hr-med {
    width: 200px;
}

hr.hr-large {
    width: 75%;
}

hr.hr-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
