<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Group 10 Zoo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>
    <body>
        <div class="px-4 py-4 my-5 text-center">
            <h1>Visit the Animals</h1>
            <hr>
            <br>
            <div class="row payment-box">
                <div class="payment-inner">
                    
                </div>
            </div>
            <br>
            <div class="row">
                <main id="zooList">
                    <th:block th:each="entry: ${animalMap}">
                        <a class="col-2" th:href="@{/visitor(id=${entry.key})}"> [[${entry.key}]]-[[${entry.value}]]</a> 
                    </th:block>
                </main>
            </div>
            
            <div class="row">
                <aside th:if = "${id} >= 1">
                    <hr>
                    <p th:text="${id} + ' ' + ${animalMap.get( __${id}__)}">
                    <p th:utext="${animalOutput}" />
                </aside>
            </div>
            
            <hr>
            <p><a href="/">Return to Homepage</a></p> 
            <p><a href="https://github.com/Dierale/ZooGroup10">Visit Us on GitHub</a></p> 
        </div>
    </body>
</html>
<!-- https://javadeveloperzone.com/spring-boot/spring-boot-index-page-example/ -->
        </div>
    </body>
</html>
<!-- https://javadeveloperzone.com/spring-boot/spring-boot-index-page-example/ -->